<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @register.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @register.last_name %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @register.sex %>
</p>

<p>
  <strong>Email:</strong>
  <%= @register.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @register.address %>
</p>

<p>
  <strong>Image Uploaded:</strong>
  <%= image_tag @register.image.url(:thumb) %>
</p>

<%= link_to 'Edit', edit_register_path(@register) %> |
<%= link_to 'Back', registers_path %>
